<div class="weui-tabbar weui-hfooter">
	<a ng-href="#/index/recommend" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':item==0}" ng-click="itemOn(0)">
		<img src="./images/icon_idx.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">推荐</p>
	</a>
	<a ng-href="#/index/entertain" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':item==1}" ng-click="itemOn(1)">
		<img src="./images/icon_new.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">新闻</p>
	</a>
	<a ng-href="#/index/music" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':item==2}" ng-click="itemOn(2)">
		<img src="./images/icon_mic.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">音乐</p>
	</a>
	<a ng-href="#/index/meinv" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':item==3}" ng-click="itemOn(3)">
		<img src="./images/icon_img.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">美女</p>
	</a>
	<a ng-href="#/index/shez" class="weui-tabbar__item" ng-class="{'weui-bar__item_on':item==4}" ng-click="itemOn(4)">
		<img src="./images/icon_shez.png" alt="" class="weui-tabbar__icon">
		<p class="weui-tabbar__label">设置</p>
	</a>
</div>