div.ready {
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 58px;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  color: white; }
  div.ready i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%); }
header {
  position: fixed;
  height: 48px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
div.address{
  position: fixed;
  top: 48px;
  bottom: 58px;
  right: 0;
  left: 0;
  overflow: hidden; 
  }
 #scroller ul li{
  	height: 70px;
  	position: relative;
  	border-bottom: 1px solid #F5F5F5;
  }
 #scroller ul li div{
  	float: left;
  	text-align: center;
  	
  }
  #scroller ul li div i{
  	
  }
  #scroller ul li div:nth-child(1){
  	width: 10%;
  	line-height: 70px;
  }
  #scroller ul li div:nth-child(2){
  	width: 80%;
  	text-align: left;
  }
  #scroller ul li div:nth-child(2) p{
  	width: 80%;
  	text-align: left;
  	line-height: 35px;
  	margin: 0;
  }
  #scroller ul li div:nth-child(3){
  	width: 10%;
  	line-height: 70px;
  }
  footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 58px;
  z-index: 1; }
  footer>button{
  	width: 80%;
  	transform: translate(-50%,-50%);
  	position: absolute;left: 50%;top: 50%;
  	background-color: #8E488E;
  	color: white;
  	line-height: 40px;
  	border: none;
  }
