header {
  position: fixed;
  height: 48px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  header .header1 div div {
    width: 48px;
    height: 48px;
    float: left;
    position: absolute;left: 45%;
    transform: translateX(-50%);
     }
  header .header1 div div.comment {
    margin-left: 48px; }
  header .header1 div div.nowdiv {
    background-color: white;
    color: black; }

div.productdetail {
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 58px;
  right: 0;
  background-color: #999;
  overflow: hidden;}
  div.productdetail div.swiper-container {
    background-color: white; }
    div.productdetail div.swiper-container img {
      width: 100%;
      height: 300px; }
  div.productdetail div.message1 {
    background-color: white;
    width: 100%; }
    div.productdetail div.message1 p {
      margin: 0;
      width: 98%;
      margin-left: 2%;
      line-height: 30px;
      font-size: 14px;
      font-weight: bold; }
    div.productdetail div.message1 p:last-child {
      color: red; }
  div.productdetail div.message2 {
    background-color: white;
    width: 100%;
    margin-top: 20px; }
    div.productdetail div.message2 p {
      width: 96%;
      margin: 0 2%;
      line-height: 30px;
      font-size: 14px;
      color: #999; }
      div.productdetail div.message2 p span {
        color: black; }
  div.productdetail div.message3{
  	width: 100%;
  	overflow: hidden;
  }
  div.productdetail div.message3 img{
    margin:0;
    width: 100%; 
    padding: 0;
    float: left;}

div.ready {
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 58px;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  color: white; }
  div.ready i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%); }

div.productcomment {
	z-index: -1;
  position: fixed;
  top: 48px;
  bottom: 58px;
  right: 0;
  left: 0;
  overflow: hidden;
  background-color: #999;
   }
  div.productcomment ul {
    margin: 0;
    width: 100%; }
  div.productcomment div.usercomment {
    margin-top: 5px;
    background-color: white; }
    div.productcomment div.usercomment ul:first-child li {
      width: 48%;
      float: left;
      height: 46px;
      line-height: 46px;
      margin-left: 2%; }
    div.productcomment div.usercomment ul:first-child li:last-child {
      text-align: right;
      margin-left: 0;
      margin-right: 2%; }
    div.productcomment div.usercomment ul:last-child li {
      margin-left: 2%;
      width: 98%;
      line-height: 20px;
      font-size: 14px; }
      div.productcomment div.usercomment ul:last-child li i {
        color: red; }
    div.productcomment div.usercomment ul:last-child li:last-child {
      color: #CCC; }
      div.productcomment div.usercomment ul:last-child li:last-child span {
        font-size: 14px; }
    div.productcomment div.usercomment img {
      border-radius: 50%;
      height: 40px;
      width: 40px; }

div.buycar {
  position: fixed;
  top: 48px;
  bottom: 58px;
  right: 0;
  left: 0;
  overflow: hidden;
  background-color: #999; }
  div.buycar .swiper-container {
    background-color: white; }
    div.buycar .swiper-container img {
      width: 50%;
      height: 170px;
      margin-left: 50%;
      transform: translateX(-50%); }
  div.buycar .message1 {
    background-color: white; }
    div.buycar .message1 p {
      width: 64%;
      margin: 0;
      margin: 0 3% 0 3%;
      color: black;
      font-size: 16px;
      line-height: 26px; }
    div.buycar .message1 p:last-child {
      color: red; }
  div.buycar .message2 {
    background-color: white;
    margin-top: 20px;
    padding: 10px 0; }
    div.buycar .message2 p {
      width: 94%;
      margin: 7px 3% 7px 3%;
      font-size: 16px;
      color: #ccc;
      line-height: 20px; }
  div.buycar .message3 {
    width: 100%;
    margin-top: 20px; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 58px;
  z-index: 1; }
