a:hover {
  text-decoration: none; }

header {
  position: fixed;
  height: 48px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

div.register {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C0C0C0; 
  overflow: auto;}
  div.register form p {
    width: 96%;
    margin: 15px 2%;
    height: 40px;
    font-size: 14px; }
    div.register form p input {
      width: 99%;
      height: 100%;
      border: 1px solid #D5D5D5; }
  div.register form p:nth-child(2) input:first-child {
    width: 30%; }
  div.register form p:nth-child(2) input:last-child {
    width: 68%; }
  div.register form P:nth-child(3) input:first-child {
    width: 68%; }
  div.register form P:nth-child(3) input:last-child {
    width: 30%; }
  div.register form P:last-child input {
    border-radius: 8px;
    background-color: #8E488E;
    color: white; }
