td>img{width: 36px;}
tbody>tr>td>p{line-height: 36px;}
div.products div.header1{overflow: hidden;padding: 10px;margin: 8px 0;line-height: 30px;border-bottom: 1px solid #ccc;}
div.products div.header1 input,div.products div.header1 select{float: left;height: 30px;line-height: 30px;border: 1px solid #ccc;font-size: 20px;}
div.products div.header1 input:nth-child(1){border-radius: 10px 0 0 10px;padding: 0 15px;}
div.products div.header1 input:nth-child(1):hover{cursor: auto;}
div.products div.header1 select{width: 10%;}
div.products div.header1 input:nth-child(3){width: 30%;padding: 0 15px;border-radius:0 10px 10px 0;}
div.products div.addbutton{float: right;text-align: center;width: 150px;line-height: 30px;border: 1px solid red;border-radius: 10px;color: red;}
div.products div.addbutton:hover{cursor: pointer;}

div.products div.content{position: absolute;top: 70px;bottom: 0;left: 0;right: 0;overflow: auto;}
div.products div.option{position: absolute;bottom: 0;left: 0;right: 0;top: 0;background-color: rgba(144,144,144,0.5);}
div.products div.option h3{font-weight: bold;margin: 10px 0;font-size: 20px;line-height: 50px;border: 1px solid #ccc;border-left: none;border-right: none;}
div.products div.option div.addproduct td input,div.products div.option div.edit td input{width: 100%;height: 22px;}
div.products div.option div.addproduct,div.products div.option div.edit{background-color: white;padding: 20px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 90%;}
div.products div.option thead{background:none;}
div.products div.option input{text-align: center;}
div.products div.option i.fa-close{font-size: 30px;position: absolute;top: 30px;right: 30px;color: white;}
div.products div.option i.fa-close:hover{cursor: pointer;}
