div.changepass{overflow: hidden;position: absolute;top: 20%;left: 50%;transform: translate(-50%,-50%);}
div.changepass>form{font-size: 20px;}
div.changepass>form.passtitle{line-height: 40px;height: 40px;}
div.changepass>form>input{margin: 5px 0;}
div.changepass>form:nth-child(2)>input:last-child{border-radius: 5px;font-weight: bold;padding:10px;color: white;background-color: #8E488E;position: relative;bottom: 0;left: 50%;transform: translateX(-50%);}
div.changepass>form.passtitle>input{border-radius: 5px;margin: 0;color: red;text-align: center;width: 100%;border: none;border-radius: 5px;}
