#
node_modules

#data
src/table/data/data.txt

#
express/node_modules
nodejs/file/floder/*.zip
nodejs/file/floder/*.wmv

#vue
0504/rui
0504/mywork

#font-awesome
backmanagement/libs/Font-Awesome-3.2.1/src