<div>
<div class="y-left index-content">

	<div riot-tag="subchannel" id="subchannel"></div>
	<div riot-tag="feedBox">
		<div class="feedBox" name="feedBox">
			<div riot-tag="essayFeed">
				<div class="essayFeed">
					<ul>
						<li class="essay-item">
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/3684339870"> <img alt="" src="./今日头条_files/16ab0012c205704feb94"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/3684339870">wife能共享才是好邻居</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59150672047">
								<p class="essay-content">男人给女人最浪漫的三个字，不是，我爱你，猜猜是哪三个字</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>374</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>54</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>1020</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>3</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59150672047#comment"> <i class="y-icon icon-comment"></i><span>833</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/2924681865"> <img alt="" src="./今日头条_files/d2900124e538048a9d0"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/2924681865">狗头族第一队大队长</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59160174337">
								<p class="essay-content">有一天，班上一女生拿给我99元日币，我立马还他了，我就想 我又不差这么个钱。那女生用幽怨的眼神看着我落下一句话 你就撸一辈子吧！便转身离去了！</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>7552</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>650</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>885</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>174</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59160174337#comment"> <i class="y-icon icon-comment"></i><span>465</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/6348442937"> <img alt="" src="./今日头条_files/150c0004d129f6c008f2"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/6348442937">心如止水丶静</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59155631972">
								<p class="essay-content">追女神，她提出十个条件，其中九个条件已经完成，最后一个条件是：身体站得笔直，手和脚不准动，也不可以拿任何东西，她站在离我18厘米远的地方，如果碰到她身体的任何一个部位就答应我的追求。老子想了3天，深思中...</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>2215</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>165</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>784</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>58</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59155631972#comment"> <i class="y-icon icon-comment"></i><span>632</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/6412818716"> <img alt="" src="./今日头条_files/18a500175461aa6bafbd"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/6412818716">孤独浪子高兴</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59089666927">
								<p class="essay-content">今年退伍坐火车回来，在火车站等朋友来接！突然身后一个小孩抱着我的大腿叫爸爸，爸爸！转过身发现孩子叫错人了，孩子的妈妈好尴尬，我马上立正，敬礼说嫂子好！这时我看见孩子的妈妈眼角溢出眼泪！！！</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>5762</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>283</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>217</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>75</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59089666927#comment"> <i class="y-icon icon-comment"></i><span>174</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/2767940456"> <img alt="" src="./今日头条_files/d2a000c63e05781cd2a"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/2767940456">百里媳妇</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59154107456">
								<p class="essay-content">小萌喜欢上了一个男生。男生很帅，是校学生会主席，每天负责在校门口检查进校学生有没有在胸前佩戴校徽。小萌每次进校都会多看男生几眼，可男生从来没有注意到她。这天，小萌进校前故意把校徽取下来放进书包。果然，男生注意到了她，发现她并没有在胸前佩戴校徽。男生紧紧地盯着她，小萌暗喜，期待男生能够拦住她。可是男生并没有。小萌越走越远，男生喃喃自语并咽了一大口唾沫…</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>6701</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>480</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>221</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>148</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59154107456#comment"> <i class="y-icon icon-comment"></i><span>161</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/25919374854"> <img alt="" src="./今日头条_files/1a6e001b1ab9a7a2ade7"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/25919374854">柒师弟</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59145874660">
								<p class="essay-content">老婆不在家，小姨子端来一杯咖啡给我喝。此为背景。 小姨子：“有一个好消息和一个坏消息，你先听哪个？” 我：“好消息。” 小姨子：“刚才你喝的咖啡里我放了伟哥，药效一个小时。” 我：“…那坏消息呢？” 小姨子：“我姐不在家，你也没钱花，我又来了大姨妈。” 我：“……………………”</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>2059</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>130</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>660</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>51</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59145874660#comment"> <i class="y-icon icon-comment"></i><span>539</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/53578547195"> <img alt="" src="./今日头条_files/17820015db485cf9af23"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/53578547195">你大姨家的小姨</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59117316367">
								<p class="essay-content">从前有个王子被巫婆施了魔法，一年只能说一个字。王子憋了五年，终于凑足了五个字，于是王子来到公主面前，深情款款地对公主说：“公主，我爱你！”公主只说了一个字，王子就晕了。请问，公主说了什么…</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>51</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>16</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>38</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>1</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59117316367#comment"> <i class="y-icon icon-comment"></i><span>24</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/5821666647"> <img alt="" src="./今日头条_files/avatar.png"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/5821666647">沙海揚塵</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59113231868">
								<p class="essay-content">话说江西龙南有一对夫妻，男的在深圳打工三年未回过，深夜妻子在家无聊之至拿起手机向老公发了一封家书。 一封家书给我夫， 门前荒地已干枯。 三天之内不回来， 租给別人种磨菇。 其老公接到老婆的微信，即时回复： 一封家书给我妻， 门前田地不能批。 三天之内必返归， 连夜灌水连夜犁。 老婆收到信息后，马上就回复: 我们分居已三年， 犁头是否像以前？ 若你犁头不够坚， 回</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>91</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>28</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>49</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>10</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59113231868#comment"> <i class="y-icon icon-comment"></i><span>18</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/4183635567"> <img alt="" src="./今日头条_files/123300059ccf5f815387"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/4183635567">哈弗华北地区销售总监</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59141590067">
								<p class="essay-content">5岁的侄儿和小情人闹翻了，原因是侄儿请女孩吃肯德基，女孩把自己的表姐表妹邻居小孩儿都带去了，一共去了6个，侄儿一看，搂着自己的存钱罐跑了，临走撂下一句话，我们分手吧，你们家穷亲戚太多了</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>887</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>17</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>13</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>8</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59141590067#comment"> <i class="y-icon icon-comment"></i><span>11</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/57345540700"> <img alt="" src="./今日头条_files/18a2000a186e26c7b2d9"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/57345540700">用户152921569</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59147852348">
								<p class="essay-content">女的来大姨妈了。。。打一个饮料名</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>17</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>16</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>16</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>0</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59147852348#comment"> <i class="y-icon icon-comment"></i><span>13</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/3936595392"> <img alt="" src="./今日头条_files/1354000b012c65981c07"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/3936595392">微海深处</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a58997668754">
								<p class="essay-content">老板开会时，忘记拉裤子拉链，女秘书提醒了几次后老总仍无动于衷！ 女秘书忍不住又提醒了老总，可老总却发火了，怒问女秘书：“你看见什么了？” 女秘书害羞的答道：我看见了北京的区号……</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>1.10万</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>1067</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>1079</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>273</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a58997668754#comment"> <i class="y-icon icon-comment"></i><span>265</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/50037711267"> <img alt="" src="./今日头条_files/64"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/50037711267">朱葛亮2</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59140322970">
								<p class="essay-content">今天出门见两个女人在吵架，吵的很凶，这时听到一个女的骂另一个女的：像你这种货色一看就是脚后跟朝下时，两只手抓床单的人！瞬间另一个女人跟疯了一样上去就打了起来，长友们这什么样的女人</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>979</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>169</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>102</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>25</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59140322970#comment"> <i class="y-icon icon-comment"></i><span>68</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/3728107333"> <img alt="" src="./今日头条_files/1353001008440a3484d7"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/3728107333">尼古拉斯丶钻石布欧</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59165669562">
								<p class="essay-content">当年住校，上铺，睡得正香，听到有人跟我说，救我救我，我一下子坐起来。看到同学站在阳台上，想去看看她，结果门打不开，没锁，就是推不开，因为我信那玩意，感觉不对劲，叫她，她回头看我笑，卧槽那白脸那笑容，看那架势是要往下跳，对面床大姐起来，碎窗大吼…滚…那个同学突然醒了</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>612</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>36</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>23</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>4</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59165669562#comment"> <i class="y-icon icon-comment"></i><span>19</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/3451160060"> <img alt="" src="./今日头条_files/ef300178702b6f2dfda"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/3451160060">魅影迷离</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59143857588">
								<p class="essay-content">写个刚发生的事，在一家餐馆吃饭，我点了个青椒炒肉。不一会上菜了，我看着满盘的肉和仅有的几个辣椒片问老板:“老板，我点的是青椒炒肉，不是肉炒青椒……”老板陪笑道:“帅哥，不好意思，青椒没有了，多加了点肉，一会给你少算点钱吧！”</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>3.10万</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>854</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>937</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>279</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59143857588#comment"> <i class="y-icon icon-comment"></i><span>691</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/2924681865"> <img alt="" src="./今日头条_files/d2900124e538048a9d0"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/2924681865">狗头族第一队大队长</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59160279557">
								<p class="essay-content">酒后有一公司领导，正坐一美女旁，把手放放在此女大腿上，对其说到想加薪吗？此女把其手移开说，不要。领导又把手放了上去 问道？那我给你买辆车吧。此女又把手移开说 不要 领导想不要钱不要车难道是想当官，又把手放上去，说到要不明天我让人事部给你个主任？此女这时不耐烦地说道，爸 能不能别把你的工作习惯带到家里来</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>6823</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>304</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>276</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>151</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59160279557#comment"> <i class="y-icon icon-comment"></i><span>129</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/54045491823"> <img alt="" src="./今日头条_files/100"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/54045491823">凉城听暖17</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59141627167">
								<p class="essay-content">本人姓袁，老婆这个月底生，给孩子取名，想了很多名字，今天刚躺床上，老婆说：子轩这个名字好听吗？当时我突然接了句不如叫袁子弹吧，小名叫嘣！！！当时老婆正在吃橘子，结果直接喷了我一脸。。。</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>1.85万</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>725</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>4864</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>562</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59141627167#comment"> <i class="y-icon icon-comment"></i><span>3729</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/1644854231"> <img alt="" src="./今日头条_files/3735508976"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/1644854231">保持微笑继续我旳骄傲26855585</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59131293186">
								<p class="essay-content">今天初中同学聚会吃饭，大家起哄非要我初中喜欢的一个女生和我坐。吃到一半她说借我手机一下，手机拿过来我一看“sjb”。当时我就忍不住狂骂她了一顿然后扬长而去，不喜欢我就算了，还他妈骂我神经病！</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>9532</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>1334</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>3073</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>122</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59131293186#comment"> <i class="y-icon icon-comment"></i><span>1550</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/55377732085"> <img alt="" src="./今日头条_files/1bf6000a724821cabb00"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/55377732085">小学生Terry</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59157411733">
								<p class="essay-content">小学时，有次数学考试，要交卷，发现没写名字，关键我竟然紧张得忘了自己叫什么。又不敢翻书，怕误以为作弊，正在我左右为难时，突然灵光一闪，迅速给了我旁边座位同学一耳光，只见他哭着对老师说：“老师，XXX打我。”终于我满意地在试卷上写下了自己的名字，至今我依然为我当初的机智感动。</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>9153</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>289</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>404</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>163</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59157411733#comment"> <i class="y-icon icon-comment"></i><span>228</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="hot-tag">热门</div>
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/5857812718"> <img alt="" src="./今日头条_files/18a20011b8ce56ff88f7"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/5857812718">老si机带带我</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59085137547">
								<p class="essay-content">有一个盲了的女孩，她一无所有，只剩下她男朋友，男朋友问她：“如果你眼睛好了，能和我结婚吗？”女孩答应了。很快，女孩可以移植新视角膜，也很快回复视力，但她发现她男朋友也是盲的。男朋友向她求婚，女孩拒绝了，最后男孩只说了一句话:“take care of my eyes.”谁给我翻译下他最后说的啥？</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>3887</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>746</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>1552</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>210</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59085137547#comment"> <i class="y-icon icon-comment"></i><span>1122</span> </a>
							</div>
						</li>
						<li class="essay-item">
							<div class="media-info">
								<a class="img-wrap" target="_blank" href="http://www.toutiao.com/user/3170233608"> <img alt="" src="./今日头条_files/6003290650"> </a>
								<a class="media-name" target="_blank" href="http://www.toutiao.com/user/3170233608">丶念着倒逼傻个有</a>
							</div>
							<a target="_blank" href="http://www.toutiao.com/api/article/joke/a59160119602">
								<p class="essay-content">今天在大街上看到一个残疾乞丐，他向我伸手出碗钱，说时迟那时快，我拿起碗就跑，那乞丐就拼命向我追，我跑的不行了，把碗放下，感叹到：又治好一个残疾人，我骄傲！</p>
							</a>
							<div class="essay-tool">
								<div data-type="dig" class="action-btn action-btn-left "> <i class="y-icon icon-handup"></i><span>328</span> </div>
								<div data-type="bury" class="action-btn action-btn-left "> <i class="y-icon icon-handdown"></i><span>5</span> </div>
								<div class="action-btn action-btn-right share-wrap"> <i class="y-icon icon-share"></i> <span>17</span>
									<div class="snsbox clearfix">
										<p class="snsbox-share">分享到:</p>
										<div class="snszone"> <i class="sns-btn sns-weixin" title="分享到微信" data-share="0"> <div class="qrcodeW"> <div class="qrcode"></div> </div> </i> <i class="sns-btn sns-qzone" title="分享到QQ空间"></i> <i class="sns-btn sns-weibo" title="分享到新浪微博"></i> </div>
									</div>
								</div>
								<div class="action-btn action-btn-right "> <i class="y-icon icon-favorite"></i> <span>10</span> </div>
								<a target="_blank" class="action-btn action-btn-right essay-comment" href="http://www.toutiao.com/api/article/joke/a59160119602#comment"> <i class="y-icon icon-comment"></i><span>13</span> </a>
							</div>
						</li>
						<!--riot placeholder-->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
