<!--<li class="item"> <span id="ad_extra" style="display:none;"></span>
	<div class="item-inner y-box">
		<div class="normal rbox ">
			<div class="rbox-inner">
				<div class="title-box" >
					<a class="link title" href="/group/6409801695900401922/"> {{title}} </a>
				</div>
				<div class="y-box footer">
					<div class="y-left">
						<div class="y-left">
							<a class="lbtn media-avatar" href="/c/user/5757091251/"> <img alt="" src="http://p3.pstatp.com/large/97d001bf3f3cba72913"> </a>
							<a class="lbtn source"  href="/c/user/5757091251/">&nbsp;{{news}}&nbsp;⋅</a>
							<a class="lbtn comment"  href="/group/6409801695900401922//#comment_area">&nbsp;{{pinlun}}&nbsp;⋅</a>
						</div> <span class="lbtn">&nbsp;{{time}}</span> </div>
					<div class="y-right"> <span class="dislike" ></i> </span> </div>
				</div>
			</div>
		</div>
		<div class="lbox" ga_event="article_img_click">
			<a class="img-wrap" target="_blank" href="/group/6409801695900401922/"> <img alt="" src="http://p3.pstatp.com/list/190x124/1bb9000e9b22440b92eb"> </a>
		</div>
	</div>
</li>-->

<div riot-tag="feedBox">
	<div class="feedBox" name="feedBox">
		<div riot-tag="wcommonFeed" category="news_society" abtype="0">
			<div class="wcommonFeed">
				<div riot-tag="msgAlert" mwidth="660" mtop="500" category="news_society">
					<div class="msgAlert msgAlert-hidden">
						<div style="background-color: #fff; height: 1px;"></div>
					</div>
				</div>
				<ul>
					<li class="item"> <span id="ad_extra" style="display:none;"></span>
						<div class="item-inner y-box">
							<div class="normal rbox ">
								<div class="rbox-inner">
									<div class="title-box">
										<a class="link title" href="/group/6409801695900401922/"> {{title}} </a>
									</div>
									<div class="y-box footer">
										<div class="y-left">
											<div class="y-left">
												<a class="lbtn media-avatar" href="/c/user/5757091251/"> <img alt="" src="http://p3.pstatp.com/large/97d001bf3f3cba72913"> </a>
												<a class="lbtn source" href="/c/user/5757091251/">&nbsp;{{news}}&nbsp;⋅</a>
												<a class="lbtn comment" href="/group/6409801695900401922//#comment_area">&nbsp;{{pinlun}}&nbsp;⋅</a>
											</div> <span class="lbtn">&nbsp;{{time}}</span> </div>
										<div class="y-right"> <span class="dislike"></i> </span> </div>
									</div>
								</div>
							</div>
							<div class="lbox" ga_event="article_img_click">
								<a class="img-wrap" target="_blank" href="/group/6409801695900401922/"> <img alt="" src="http://p3.pstatp.com/list/190x124/1bb9000e9b22440b92eb"> </a>
							</div>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>