<div riot-tag="feedBox">
	<div class="feedBox" name="feedBox">
		<div riot-tag="wcommonFeed" category="news_society" abtype="0">
			<div class="wcommonFeed">
				<div riot-tag="msgAlert" mwidth="660" mtop="500" category="news_society">
					<div class="msgAlert msgAlert-hidden">
						<div style="background-color: #fff; height: 1px;"></div>
					</div>
				</div>
				<ul>
					<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6409801695900401922"> <span id="ad_extra" style="display:none;"></span>
						<div class="item-inner y-box">
							<div class="normal rbox ">
								<div class="rbox-inner">
									<div class="title-box" ga_event="article_title_click">
										<a class="link title" target="_blank" href="/group/6409801695900401922/"> 江西井冈山一木板桥塌陷 至少10名香港人受伤 </a>
									</div>
									<div class="y-box footer">
										<div class="y-left">
											<div class="y-left">
												<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="/c/user/5757091251/"> <img alt="" src="http://p3.pstatp.com/large/97d001bf3f3cba72913"> </a>
												<a class="lbtn source" target="_blank" ga_event="article_name_click" href="/c/user/5757091251/">&nbsp;中国新闻网&nbsp;⋅</a>
												<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="/group/6409801695900401922//#comment_area">&nbsp;163评论&nbsp;⋅</a>
											</div> <span class="lbtn">&nbsp;1分钟前</span> </div>
										<div class="y-right"> <span class="dislike" data-groupid="6409801695900401922" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
									</div>
								</div>
							</div>
							<div class="lbox" ga_event="article_img_click">
								<a class="img-wrap" target="_blank" href="/group/6409801695900401922/"> <img alt="" src="http://p3.pstatp.com/list/190x124/1bb9000e9b22440b92eb"> </a>
							</div>
						</div>
					</li>
					<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6409740972422414594"> <span id="ad_extra" style="display:none;"></span>
						<div class="item-inner y-box">
							<div class="normal rbox ">
								<div class="rbox-inner">
									<div class="title-box" ga_event="article_title_click">
										<a class="link title" target="_blank" href="/group/6409740972422414594/"> 武汉姐弟溺死水塘案：3级法院7次审理 8年诉讼一波三折 </a>
									</div>
									<div class="y-box footer">
										<div class="y-left">
											<div class="y-left">
												<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="/c/user/5954781019/"> <img alt="" src="http://p1.pstatp.com/large/4d00054b126ceaf920"> </a>
												<a class="lbtn source" target="_blank" ga_event="article_name_click" href="/c/user/5954781019/">&nbsp;环球网&nbsp;⋅</a>
												<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="/group/6409740972422414594//#comment_area">&nbsp;476评论&nbsp;⋅</a>
											</div> <span class="lbtn">&nbsp;1分钟前</span> </div>
										<div class="y-right"> <span class="dislike" data-groupid="6409740972422414594" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
									</div>
								</div>
							</div>
							<div class="lbox" ga_event="article_img_click">
								<a class="img-wrap" target="_blank" href="/group/6409740972422414594/"> <img alt="" src="http://p1.pstatp.com/list/190x124/1bbd000d74708788689d"> </a>
							</div>
						</div>
					</li>
					<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6392994404742725889"> <span id="ad_extra" style="display:none;"></span>
						<div class="item-inner y-box">
							<div class="normal rbox ">
								<div class="rbox-inner">
									<div class="title-box" ga_event="article_title_click">
										<a class="link title" target="_blank" href="/group/6392994404742725889/"> 为什么人被狗追的时候只要人一蹲下狗就会跑？ </a>
									</div>
									<div class="y-box footer">
										<div class="y-left">
											<div class="y-left">
												<a target="_blank" class="lbtn media-avatar avatar-bg-2" href="/search/?keyword=头条问答" ga_event="article_avatar_click">头</a>
												<a class="lbtn source" target="_blank" href="/search/?keyword=头条问答" ga_event="article_name_click">&nbsp;头条问答&nbsp;⋅</a>
											</div> <span class="lbtn">&nbsp;1分钟前</span> </div>
										<div class="y-right"> <span class="dislike" data-groupid="6392994404742725889" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
									</div>
								</div>
							</div>
							<div class="lbox" ga_event="article_img_click">
								<a class="img-wrap" target="_blank" href="/group/6392994404742725889/"> <img alt="" src="http://p9.pstatp.com/list/190x124/1a6a0004faf59ab3913b"> </a>
							</div>
						</div>
					</li>
					<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6409739821204865282"> <span id="ad_extra" style="display:none;"></span>
						<div class="item-inner y-box">
							<div class="normal rbox ">
								<div class="rbox-inner">
									<div class="title-box" ga_event="article_title_click">
										<a class="link title" target="_blank" href="/group/6409739821204865282/"> 泰国旅游回来，杭州男子在飞机厕所里偷偷做了件事，拘留5天！ </a>
									</div>
									<div class="y-box footer">
										<div class="y-left">
											<div class="y-left">
												<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="/c/user/5816621612/"> <img alt="" src="http://p3.pstatp.com/large/10511/6338508485"> </a>
												<a class="lbtn source" target="_blank" ga_event="article_name_click" href="/c/user/5816621612/">&nbsp;都市快报&nbsp;⋅</a>
												<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="/group/6409739821204865282//#comment_area">&nbsp;82评论&nbsp;⋅</a>
											</div> <span class="lbtn">&nbsp;1分钟前</span> </div>
										<div class="y-right"> <span class="dislike" data-groupid="6409739821204865282" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
									</div>
								</div>
							</div>
							<div class="lbox" ga_event="article_img_click">
								<a class="img-wrap" target="_blank" href="/group/6409739821204865282/"> <img alt="" src="http://p3.pstatp.com/list/190x124/1c5b0002b2ab7ae1e158"> </a>
							</div>
						</div>
					</li>
					<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6399031058041438465"> <span id="ad_extra" style="display:none;"></span>
						<div class="item-inner y-box">
							<div class="normal rbox ">
								<div class="rbox-inner">
									<div class="title-box" ga_event="article_title_click">
										<a class="link title" target="_blank" href="/group/6399031058041438465/"> 女士用品区域的男人们，这世界变化太快了 </a>
									</div>
									<div class="y-box footer">
										<div class="y-left">
											<div class="y-left">
												<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="/c/user/51557018971/"> <img alt="" src="http://p1.pstatp.com/large/e580010001a57cbf2e6"> </a>
												<a class="lbtn source" target="_blank" ga_event="article_name_click" href="/c/user/51557018971/">&nbsp;回首伊人醉&nbsp;⋅</a>
												<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="/group/6399031058041438465//#comment_area">&nbsp;45评论&nbsp;⋅</a>
											</div> <span class="lbtn">&nbsp;1分钟前</span> </div>
										<div class="y-right"> <span class="dislike" data-groupid="6399031058041438465" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
									</div>
								</div>
							</div>
							<div class="lbox" ga_event="article_img_click">
								<a class="img-wrap" target="_blank" href="/group/6399031058041438465/"> <img alt="" src="http://p3.pstatp.com/list/190x124/18a2000cef204cbaae08"> </a>
							</div>
						</div>
					</li>
					<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6409612852597129473"> <span id="ad_extra" style="display:none;"></span>
						<div class="item-inner y-box">
							<div class="normal rbox ">
								<div class="rbox-inner">
									<div class="title-box" ga_event="article_title_click">
										<a class="link title" target="_blank" href="/group/6409612852597129473/"> 在传销窝里，他们肯定会要求你做这5件事情！ </a>
									</div>
									<div class="y-box footer">
										<div class="y-left">
											<div class="y-left">
												<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="/c/user/6612310767/"> <img alt="" src="http://p1.pstatp.com/large/411001ae10fa754f576"> </a>
												<a class="lbtn source" target="_blank" ga_event="article_name_click" href="/c/user/6612310767/">&nbsp;科技泛娱乐&nbsp;⋅</a>
												<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="/group/6409612852597129473//#comment_area">&nbsp;21评论&nbsp;⋅</a>
											</div> <span class="lbtn">&nbsp;1分钟前</span> </div>
										<div class="y-right"> <span class="dislike" data-groupid="6409612852597129473" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
									</div>
								</div>
							</div>
							<div class="lbox" ga_event="article_img_click">
								<a class="img-wrap" target="_blank" href="/group/6409612852597129473/"> <img alt="" src="http://p1.pstatp.com/list/190x124/1a6d00083546321d1f71"> </a>
							</div>
						</div>
					</li>
					<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6409605193520660738"> <span id="ad_extra" style="display:none;"></span>
						<div class="item-inner y-box">
							<div class="normal rbox ">
								<div class="rbox-inner">
									<div class="title-box" ga_event="article_title_click">
										<a class="link title" target="_blank" href="/group/6409605193520660738/"> 婚后男方父母出资买房，离婚时女方要求房产分割，能不能分？ </a>
									</div>
									<div class="y-box footer">
										<div class="y-left">
											<div class="y-left">
												<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="/c/user/58271903683/"> <img alt="" src="http://p1.pstatp.com/large/18a3000ed913533a4613"> </a>
												<a class="lbtn source" target="_blank" ga_event="article_name_click" href="/c/user/58271903683/">&nbsp;律屋说法&nbsp;⋅</a>
												<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="/group/6409605193520660738//#comment_area">&nbsp;315评论&nbsp;⋅</a>
											</div> <span class="lbtn">&nbsp;1分钟前</span> </div>
										<div class="y-right"> <span class="dislike" data-groupid="6409605193520660738" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
									</div>
								</div>
							</div>
							<div class="lbox" ga_event="article_img_click">
								<a class="img-wrap" target="_blank" href="/group/6409605193520660738/"> <img alt="" src="http://p3.pstatp.com/list/190x124/1bf3000b21a312acd8cb"> </a>
							</div>
						</div>
					</li>
					<li class="item    " ga_event="refresh_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id=""> <span id="ad_extra" style="display:none;"></span>
						<div class="list-refresh-msg"> <span>看到这里</span> &nbsp;点击刷新&nbsp;<i class="y-icon icon-refreshfeed"></i> </div>
					</li>
					<!--riot placeholder-->
				</ul>
			</div>
		</div>
	</div>
</div>