<div class="y-left index-content">
	<div riot-tag="subchannel" id="subchannel" class="subchannel">
			<ul name="subchannel" style="width: 660px;" ga_event="subchannel_click" class="sub-list ">
				<li class="sub-item sub-selected">
					<a href="#!/page2/all">全部</a>
				</li>
				<li class="sub-item ">
					<a href="#!/page2/hb">环境保护</a>
				</li>
				<li class="sub-item ">
					<a href="#!/page2/spaq">食品安全</a>
				</li>
				<li class="sub-item ">
					<a href="#!/page2/ffcl">反腐倡廉</a>
				</li>
				<!--riot placeholder-->
			</ul>
	</div>
	<div ui-view=""></div>
</div>