<div id="header">
	<div riot-tag="wtopbar" style="height: 34px; background: #222;">
		<div class="y-box wtopbar">
			<ul class="y-left">
				<li class="tb-item">
					<a class="tb-link" href="http://app.toutiao.com/news_article/" target="_blank" ga_event="mh_nav_others">下载APP</a>
				</li>
				<li class="tb-item weather">
					<a class="tb-link" href="javascript:;"> <span>&nbsp;广州</span> <span class="city_state">阴</span> <span class="city_temperature"> <em>22</em>° &nbsp;/&nbsp; <em>33</em>° </span> <i class="y-icon icon-more"></i> </a>
					<div class="weather-box">
						<div riot-tag="weather" class="y-weather">
							<div class="w-header"> <span class="y-icon icon-location" ga_event="mh_change_city">&nbsp;广州</span> <span class="wind">西风1级</span> <span class="air" style="background: #5cbf4c">良 59</span> </div>
							<ul class="y-box days-weather show">
								<li class="y-left day"> <span class="title">今天</span>
									<div title="阴" class="weather-icon weather-icon-2"></div> <span class="temperature"> <em>22</em>° / <em>33</em>° </span> </li>
								<li class="y-left day"> <span class="title">明天</span>
									<div title="阴转阵雨" class="weather-icon weather-icon-2"></div> <span class="temperature"> <em>23</em>° / <em>31</em>° </span> </li>
								<li class="y-left day"> <span class="title">后天</span>
									<div title="阵雨" class="weather-icon weather-icon-3"></div> <span class="temperature"> <em>23</em>° / <em>30</em>° </span> </li>
							</ul>
							<div class="y-box city-select ">
								<div class="y-box">
									<div class="y-left select-style">
										<p class="y-box"> <span class="y-left name">北京</span> <span class="y-right y-icon icon-more"></span> </p>
										<div class="y-box province-list ">
											<a class="y-left item" href="javascript:;"> 贵州 </a>
											<a class="y-left item" href="javascript:;"> 河南 </a>
											<a class="y-left item" href="javascript:;"> 山东 </a>
											<a class="y-left item" href="javascript:;"> 四川 </a>
											<a class="y-left item" href="javascript:;"> 江苏 </a>
											<a class="y-left item" href="javascript:;"> 青海 </a>
											<a class="y-left item" href="javascript:;"> 新疆 </a>
											<a class="y-left item" href="javascript:;"> 福建 </a>
											<a class="y-left item" href="javascript:;"> 浙江 </a>
											<a class="y-left item" href="javascript:;"> 湖北 </a>
											<a class="y-left item" href="javascript:;"> 天津 </a>
											<a class="y-left item" href="javascript:;"> 江西 </a>
											<a class="y-left item" href="javascript:;"> 海南 </a>
											<a class="y-left item" href="javascript:;"> 黑龙江 </a>
											<a class="y-left item" href="javascript:;"> 重庆 </a>
											<a class="y-left item" href="javascript:;"> 云南 </a>
											<a class="y-left item" href="javascript:;"> 北京 </a>
											<a class="y-left item" href="javascript:;"> 广西 </a>
											<a class="y-left item" href="javascript:;"> 陕西 </a>
											<a class="y-left item" href="javascript:;"> 甘肃 </a>
											<a class="y-left item" href="javascript:;"> 河北 </a>
											<a class="y-left item" href="javascript:;"> 吉林 </a>
											<a class="y-left item" href="javascript:;"> 广东 </a>
											<a class="y-left item" href="javascript:;"> 宁夏 </a>
											<a class="y-left item" href="javascript:;"> 湖南 </a>
											<a class="y-left item" href="javascript:;"> 安徽 </a>
											<a class="y-left item" href="javascript:;"> 内蒙古 </a>
											<a class="y-left item" href="javascript:;"> 上海 </a>
											<a class="y-left item" href="javascript:;"> 山西 </a>
											<a class="y-left item" href="javascript:;"> 西藏 </a>
											<a class="y-left item" href="javascript:;"> 辽宁 </a>
											<!--riot placeholder-->
										</div>
									</div>
									<div class="y-right select-style">
										<p class="y-box"> <span class="y-left name">北京</span> <span class="y-right y-icon icon-more"></span> </p>
										<div class="y-box city-list ">
											<a class="y-left item" href="javascript:;"> 北京 </a>
											<!--riot placeholder-->
										</div>
									</div>
								</div>
								<div class="y-box action">
									<a href="javascript:;" class="y-left ok-btn">确定</a>
									<a href="javascript:;" class="y-right cancel-btn">取消</a>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul class="y-right">
				<li class="tb-item userbox">
					<div riot-tag="wuserbox" abtype="0" pageid="/essay_joke/">
						<div class="y-box wuserbox">
							<div class="nav-login">
								<a ga_event="nav_login" href="javascript:;"> <span>登录</span> </a>
							</div>
						</div>
					</div>
				</li>
				<li class="tb-item">
					<a class="tb-link" href="https://wenda.toutiao.com/" target="_blank" ga_event="mh_nav_others">问答</a>
				</li>
				<li class="tb-item">
					<a class="tb-link" href="https://mp.toutiao.com/" target="_blank" ga_event="mh_nav_others">头条号</a>
				</li>
				<li class="tb-item">
					<a class="tb-link" href="https://tuchong.com/" target="_blank" ga_event="mh_nav_others">图虫</a>
				</li>
				<li class="tb-item">
					<a class="tb-link" href="javascript:void(0)">反馈</a>
				</li>
				<li class="tb-item more">
					<a class="tb-link" href="http://www.toutiao.com/about/">更多</a>
					<div class="layer">
						<ul>
							<li>
								<a href="http://www.toutiao.com/about/" class="layer-item" rel="nofollow">关于头条</a>
							</li>
							<li>
								<a href="http://www.toutiao.com/join/" class="layer-item" rel="nofollow">加入头条</a>
							</li>
							<li>
								<a href="http://www.toutiao.com/report/" class="layer-item" rel="nofollow">媒体报道</a>
							</li>
							<li>
								<a href="http://www.toutiao.com/media_partners/" class="layer-item" rel="nofollow">媒体合作</a>
							</li>
							<li>
								<a href="http://www.toutiao.com/cooperation/" class="layer-item" rel="nofollow">产品合作</a>
							</li>
							<li>
								<a href="http://www.toutiao.com/media_cooperation/" class="layer-item" rel="nofollow">合作说明</a>
							</li>
							<li>
								<a href="https://ad.toutiao.com/promotion/" class="layer-item" target="_blank" rel="nofollow">广告投放</a>
							</li>
							<li>
								<a href="http://www.toutiao.com/contact/" class="layer-item" rel="nofollow">联系我们</a>
							</li>
							<li>
								<a href="http://www.toutiao.com/user_agreement/" class="layer-item" rel="nofollow">用户协议</a>
							</li>
							<li>
								<a href="http://www.toutiao.com/complain/" class="layer-item" rel="nofollow">投诉指引</a>
							</li>
							<li>
								<a href="http://www.toutiao.com/corrupt_report/" class="layer-item" rel="nofollow">廉洁举报</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
			<div id="J_userFeedback"></div>
		</div>
	</div>

</div>