<div class="y-left index-content">

	<div riot-tag="subchannel" id="subchannel" class="subchannel">
		<ul name="subchannel" style="width: 660px;" ga_event="subchannel_click" class="sub-list ">
			<li class="sub-item sub-selected">
				<a href="/ch/news_entertainment/">全部</a>
			</li>
			<li class="sub-item ">
				<a href="/ch/movie/">电影</a>
			</li>
			<li class="sub-item ">
				<a href="/ch/teleplay/">电视剧</a>
			</li>
			<li class="sub-item ">
				<a href="/ch/shows/">综艺</a>
			</li>
			<li class="sub-item ">
				<a href="/ch/gossip/">明星八卦</a>
			</li>
			<!--riot placeholder-->
		</ul>
	</div>
	<div riot-tag="feedBox">
		<div class="feedBox" name="feedBox">
			<div riot-tag="wcommonFeed" category="news_entertainment" abtype="0">
				<div class="wcommonFeed">
					<div riot-tag="msgAlert" mwidth="660" mtop="500" category="news_entertainment">
						<div class="msgAlert msgAlert-hidden">
							<div style="background-color: #fff; height: 1px;"></div>
						</div>
					</div>
					<ul>
						<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6409796961993490945"> <span id="ad_extra" style="display:none;"></span>
							<div class="item-inner y-box">
								<div class="normal rbox ">
									<div class="rbox-inner">
										<div class="title-box" ga_event="article_title_click">
											<a class="link title" target="_blank" href="/group/6409796961993490945/"> 《西游记》导演杨洁去世 唐僧迟重瑞六小龄童哀悼 </a>
										</div>
										<div class="y-box footer">
											<div class="y-left">
												<div class="y-left">
													<a target="_blank" class="lbtn media-avatar avatar-bg-0" href="/search/?keyword=中国青年网" ga_event="article_avatar_click">中</a>
													<a class="lbtn source" target="_blank" href="/search/?keyword=中国青年网" ga_event="article_name_click">&nbsp;中国青年网&nbsp;⋅</a>
												</div> <span class="lbtn">&nbsp;11分钟前</span> </div>
											<div class="y-right"> <span class="dislike" data-groupid="6409796961993490945" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
										</div>
									</div>
								</div>
								<div class="lbox" ga_event="article_img_click">
									<a class="img-wrap" target="_blank" href="/group/6409796961993490945/"> <img alt="" src="http://p3.pstatp.com/list/190x124/1bbd000e254be756f6e7"> </a>
								</div>
							</div>
						</li>
						<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6409846464884850946"> <span id="ad_extra" style="display:none;"></span>
							<div class="item-inner y-box">
								<div class="normal rbox ">
									<div class="rbox-inner">
										<div class="title-box" ga_event="article_title_click">
											<a class="link title" target="_blank" href="/group/6409846464884850946/"> 知情人爆料白百何陈羽凡分居两年半 未办离婚手续 </a>
										</div>
										<div class="y-box footer">
											<div class="y-left">
												<div class="y-left">
													<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="/c/user/50502346296/"> <img alt="" src="http://p3.pstatp.com/large/ca5000310a941972502"> </a>
													<a class="lbtn source" target="_blank" ga_event="article_name_click" href="/c/user/50502346296/">&nbsp;中国经济网&nbsp;⋅</a>
													<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="/group/6409846464884850946//#comment_area">&nbsp;150评论&nbsp;⋅</a>
												</div> <span class="lbtn">&nbsp;21分钟前</span> </div>
											<div class="y-right"> <span class="dislike" data-groupid="6409846464884850946" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
										</div>
									</div>
								</div>
								<div class="lbox" ga_event="article_img_click">
									<a class="img-wrap" target="_blank" href="/group/6409846464884850946/"> <img alt="" src="http://p1.pstatp.com/list/190x124/1bbd000f3247a5c079c9"> </a>
								</div>
							</div>
						</li>
						<li class="item    " ga_event="gallery_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6409810795937857794"> <span id="ad_extra" style="display:none;"></span>
							<div class="item-inner y-box">
								<div class="normal  ">
									<div class="rbox-inner">
										<div class="title-box" ga_event="gallery_title_click">
											<a class="link title" target="_blank" href="/group/6409810795937857794/"> 西游记导演杨洁偏爱《女儿情》 亲自填词 </a>
										</div>
										<div class="img-list y-box" ga_event="gallery_img_click">
											<a class="img-wrap" target="_blank" href="/group/6409810795937857794/"> <img alt="" src="http://p1.pstatp.com/list/190x124/1bb9000ed7a8a392c9cf"> </a>
											<a class="img-wrap" target="_blank" href="/group/6409810795937857794/"> <img alt="" src="http://p2.pstatp.com/list/190x124/1bbe000e7bf6fb9814e3"> </a>
											<a class="img-wrap" target="_blank" href="/group/6409810795937857794/"> <img alt="" src="http://p3.pstatp.com/list/190x124/1bbe000e84e99f6caecb"> </a>
											<a class="img-wrap" target="_blank" href="/group/6409810795937857794/"> <img alt="" src="http://p3.pstatp.com/list/190x124/1bbe000e7bf7741852f3"> </a>
											<!--riot placeholder--><span class="img-num">5图</span> </div>
										<div class="y-box footer">
											<div class="y-left">
												<div class="y-left">
													<a class="lbtn media-avatar" target="_blank" ga_event="gallery_avatar_click" href="/c/user/5806115967/"> <img alt="" src="http://p2.pstatp.com/large/10332/1715010556"> </a>
													<a class="lbtn source" target="_blank" ga_event="gallery_name_click" href="/c/user/5806115967/">&nbsp;光明网头条号&nbsp;⋅</a>
													<a class="lbtn comment" target="_blank" ga_event="gallery_comment_click" href="/group/6409810795937857794//#comment_area">&nbsp;83评论&nbsp;⋅</a>
												</div> <span class="lbtn">&nbsp;31分钟前</span> </div>
											<div class="y-right"> <span class="dislike" data-groupid="6409810795937857794" ga_event="gallery_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="item  J_add  " ga_event="ad_item_click" ad_id="58986499121" qihu_ad_id="" ad_track="" group_id="6407320419539353858" ad_show="1"> <span id="ad_extra" style="display:none;">{"rit": 1, "convert_id": 0, "req_id": "20170417204858172017133004400922", "ad_price": "WPSyqAAJgpNY9LKoAAmCk_5_UvdCJgPq-59cWg"}</span>
							<div class="item-inner y-box">
								<div class="normal rbox ">
									<div class="rbox-inner">
										<div class="title-box" ga_event="ad_title_click">
											<a class="link title" target="_blank" href="http://ad.toutiao.com/tetris/page/52202028312/?ad_id=58985166546&amp;cid=58986499121&amp;req_id=20170417204858172017133004400922"> 开网店用嘿店 </a>
										</div>
										<div class="y-box footer">
											<div class="y-left">
												<div class="y-left">
													<a target="_blank" class="lbtn media-avatar avatar-bg-3" href="/search/?keyword=上海风到网络科技" ga_event="ad_avatar_click">上</a>
													<a class="lbtn source" target="_blank" href="/search/?keyword=上海风到网络科技" ga_event="ad_name_click">&nbsp;上海风到网络科技&nbsp;⋅</a>
												</div> <span class="lbtn">&nbsp;41分钟前</span> <span class="lbtn recommend">广告</span> </div>
											<div class="y-right"> <span class="dislike" data-groupid="6407320419539353858" ga_event="ad_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
										</div>
									</div>
								</div>
								<div class="lbox" ga_event="ad_img_click">
									<a class="img-wrap" target="_blank" href="http://ad.toutiao.com/tetris/page/52202028312/?ad_id=58985166546&amp;cid=58986499121&amp;req_id=20170417204858172017133004400922"> <img alt="" src="http://p3.pstatp.com/large/182c0017539f1b7760c0"> </a>
								</div>
							</div>
						</li>
						<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6348229376684851458"> <span id="ad_extra" style="display:none;"></span>
							<div class="item-inner y-box">
								<div class="normal rbox ">
									<div class="rbox-inner">
										<div class="title-box" ga_event="article_title_click">
											<a class="link title" target="_blank" href="/group/6348229376684851458/"> 章子怡汪峰沙滩秀恩爱，为什么却让人想起章子怡和美国前男友在沙滩上的照片？ </a>
										</div>
										<div class="y-box footer">
											<div class="y-left">
												<div class="y-left">
													<a target="_blank" class="lbtn media-avatar avatar-bg-4" href="/search/?keyword=头条问答" ga_event="article_avatar_click">头</a>
													<a class="lbtn source" target="_blank" href="/search/?keyword=头条问答" ga_event="article_name_click">&nbsp;头条问答&nbsp;⋅</a>
												</div> <span class="lbtn">&nbsp;51分钟前</span> </div>
											<div class="y-right"> <span class="dislike" data-groupid="6348229376684851458" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
										</div>
									</div>
								</div>
								<div class="lbox" ga_event="article_img_click">
									<a class="img-wrap" target="_blank" href="/group/6348229376684851458/"> <img alt="" src="http://p9.pstatp.com/list/190x124/10250001ab7f4cc5866a"> </a>
								</div>
							</div>
						</li>
						<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6408004559839035650"> <span id="ad_extra" style="display:none;"></span>
							<div class="item-inner y-box">
								<div class="normal rbox ">
									<div class="rbox-inner">
										<div class="title-box" ga_event="article_title_click">
											<a class="link title" target="_blank" href="/group/6408004559839035650/"> 《人民的名义》他挨骂最多 演过少帅和剃刀边缘 资料写双性恋 </a>
										</div>
										<div class="y-box footer">
											<div class="y-left">
												<div class="y-left">
													<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="/c/user/5211390122/"> <img alt="" src="http://p3.pstatp.com/large/97e001e528271c036b6"> </a>
													<a class="lbtn source" target="_blank" ga_event="article_name_click" href="/c/user/5211390122/">&nbsp;头号电影院&nbsp;⋅</a>
													<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="/group/6408004559839035650//#comment_area">&nbsp;3285评论&nbsp;⋅</a>
												</div> <span class="lbtn">&nbsp;1小时前</span> </div>
											<div class="y-right"> <span class="dislike" data-groupid="6408004559839035650" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
										</div>
									</div>
								</div>
								<div class="lbox" ga_event="article_img_click">
									<a class="img-wrap" target="_blank" href="/group/6408004559839035650/"> <img alt="" src="http://p3.pstatp.com/list/190x124/1a6e001befb4898cd33b"> </a>
								</div>
							</div>
						</li>
						<li class="item    " ga_event="article_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id="6409627239629619458"> <span id="ad_extra" style="display:none;"></span>
							<div class="item-inner y-box">
								<div class="normal rbox ">
									<div class="rbox-inner">
										<div class="title-box" ga_event="article_title_click">
											<a class="link title" target="_blank" href="/group/6409627239629619458/"> 扒一扒白百何是如何成为时尚女神的，没想到她当年竟然这么土 </a>
										</div>
										<div class="y-box footer">
											<div class="y-left">
												<div class="y-left">
													<a class="lbtn media-avatar" target="_blank" ga_event="article_avatar_click" href="/c/user/53640929093/"> <img alt="" src="http://p3.pstatp.com/large/1a6e0003e859196e8168"> </a>
													<a class="lbtn source" target="_blank" ga_event="article_name_click" href="/c/user/53640929093/">&nbsp;娱乐火车头&nbsp;⋅</a>
													<a class="lbtn comment" target="_blank" ga_event="article_comment_click" href="/group/6409627239629619458//#comment_area">&nbsp;144评论&nbsp;⋅</a>
												</div> <span class="lbtn">&nbsp;1小时前</span> </div>
											<div class="y-right"> <span class="dislike" data-groupid="6409627239629619458" ga_event="article_dislike_click"> 不感兴趣 <i class="y-icon icon-dislikenewfeed"></i> </span> </div>
										</div>
									</div>
								</div>
								<div class="lbox" ga_event="article_img_click">
									<a class="img-wrap" target="_blank" href="/group/6409627239629619458/"> <img alt="" src="http://p1.pstatp.com/list/190x124/1b85000629ef944a94e6"> </a>
								</div>
							</div>
						</li>
						<li class="item    " ga_event="refresh_item_click" ad_id="" qihu_ad_id="" ad_track="" group_id=""> <span id="ad_extra" style="display:none;"></span>
							<div class="list-refresh-msg"> <span>看到这里</span> &nbsp;点击刷新&nbsp;<i class="y-icon icon-refreshfeed"></i> </div>
						</li>
						<!--riot placeholder-->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>