<div>
	<hheader></hheader>
	<!--<h3>热门榜单Top100</h3>-->
	<hsearch></hsearch>
	<hloading></hloading>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>序号</th>
				<th>封面</th>
				<th>标题</th>
				<th>歌手</th>
				<th>试听</th>
				<th>下载</th>
			</tr>
		</thead>

		<tbody id="hr">
			<div class="weui-loadmore" ng-show="isLoading">
				<i class="weui-loading"></i>
				<span class="weui-loadmore__tips">正在加载</span>
			</div>
			<tr ng-repeat="n in musiclist | limitTo: rows : (page - 1) * rows">
				<td ng-bind="$index + 1 + (page-1)*rows"></td>
				<td><img ng-src="{{n.albumpic_small}}" alt="" /></td>
				<td ng-bind="n.songname"></td>
				<td ng-bind="n.singername"></td>
				<td>
					<a ng-href="{{n.url}}" ng-bind="listen"></a>
				</td>
				<td>
					<a ng-href="{{n.downUrl}}" ng-bind="down"></a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="10">
					<div>
						<ul class="pagination pagination-teal music" ng-click="pagination($event)">
							<li class="disabled">
								<a href="#"><i class="fa fa-chevron-left"></i></a>
							</li>
							<li class="{{n + 1 == page ? 'active' : ''}}" ng-repeat="n in [] | rang: pagecount">
								<a href="#" ng-bind="$index + 1"></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-chevron-right"></i></a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>