<!DOCTYPE html>
<html ng-app="hrapp">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div ng-controller="controllerA">
			<p ng-bind="name"></p>
			<button ng-click="next()">下一页</button>
			<button ng-click="pageTo(2)">第二页</button>
			<button ng-click="pre()">上一页</button>
			
			<ul>
				<li ng-repeat="li in data | limitTo:3:page">{{"name:"+li.name+",age:"+li.age+",skill:"+li.skill}}</li>
			</ul>
		</div>
	</body>
	<script src="../js/angular.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var app = angular.module('hrapp',[]);
		app.controller("controllerA",function($scope){
			$scope.name = "pony";
			$scope.page = 0;
			$scope.next = function(){
				//1-0,2-3,3-6
				if ($scope.page < $scope.data.length-3){
					$scope.page +=3;
				}
				
			}
			$scope.pre = function(){
				//1-0,2-3,3-6
				if ($scope.page > 0){
					$scope.page -=3;
				}
				
			}
			$scope.pageTo = function(num){
				//1-0,2-3
				$scope.page = (num-1)*3;
			}
			$scope.data = [{
				name : "Rui",
				age : 21,
				skill : "dream"
			},{
				name : "Cun",
				age : 20,
				skill : "js"
			},{
				name : "Liang",
				age : 22,
				skill : "php"
			},{
				name : "Hong",
				age : 23,
				skill : "js"
			},{
				name : "Rui",
				age : 21,
				skill : "dream"
			},{
				name : "Cun",
				age : 20,
				skill : "js"
			},{
				name : "Liang",
				age : 22,
				skill : "php"
			},{
				name : "Hong",
				age : 23,
				skill : "js"
			}]
		})
	</script>
</html>
