<!DOCTYPE html>
<html ng-app="hrapp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.active {color: red;}
			img {width: 200px;}
		</style>
	</head>
	<body>
		<div ng-controller="controllerA">
			<p ng-bind="myname"></p>
			<input type="text" ng-model="test" />
			<input type="button" ng-click="show()" value="按钮" />
			<!--<p ng-bind="test"></p>-->
			<div ng-init="a=1;b=2">
				<p ng-bind="a+b"></p>
			</div>
			<div ng-init="name=['hurui ;','hurong ;','huxunyu ']">
				<p>ng-repeat指令</p>
				<p>
					<a ng-repeat="arr in name" ng-bind="arr"></a>
				</p>
			</div>
			<div ng-init="names=[{name:'hurong',age:18},{name:'hurui',age:19},{name:'huxunyu',age:17}]">
				<p ng-repeat="obj in names" ng-bind="obj.name + ',' + obj.age"></p>
			</div>
			
			
			<!-- ng-show指令  -->
			<p ng-show="bool">我是ng-show指令</p>
			
			<!-- ng-hide指令 -->
			<p ng-hide="bool">我是ng-hide指令</p>
			
			<!-- ng-if指令  -->
			<p ng-if="bool">我是ng-if指令</p>
			
			
			<!--  ng-class指令 -->
			<p ng-class="{active:false}">myname</p>
			
			<input type="range" ng-model="size" />
			<p style="font-size: {{size + 'px'}};">size</p>
			
			<p ng-class="{active:true}">ng-src</p>
			<!--<img ng-src="{{src}}" />-->
			
			<!-- ng-swith -->
			<select ng-model="page">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			<div ng-switch="page">
				<p ng-switch-when="1">第一页</p>
				<p ng-switch-when="2">第二页</p>
				<p ng-switch-when="3">第三页</p>
			</div>
		</div>
		
		
		
		
		<!--<hr-directive></hr-directive>
		<div hr2-directive></div>
		<p class="hr3-directive"></p>-->
	</body>
	<script type="text/javascript" src="js/angular.js" ></script>
	<script>
		var app = angular.module('hrapp',[]);
		app.controller('controllerA',function($scope){
			$scope.myname = "胡瑞";
			$scope.test = "";
			$scope.src = "img/IMG_0600.JPG";
			$scope.show = function(){
				console.log(this.test);
			}
			$scope.bool = true;
		});
		app.directive('hrDirective',function(){
			return {
				template : "我是通过标签名创建的自定义指令"
			}
		});
		app.directive('hr2Directive',function(){
			return {
				template : "我是通过标签属性里面创建的自定义指令"
			}
		});
		app.directive('hr3Directive',function(){
			return {
				restrict : "C",
				template : "我是通过标签class类名创建的自定义指令"
			}
		});
	</script>
</html>
